body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 15px;
  margin: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  border-radius: 19px 0 19px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.text {
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
}
